
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:Arial, Helvetica, sans-serif;
  }


  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 220px; */
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    font-size: 18px;
    box-shadow: 3px 1px 9px  ;
    width: 100%;
    height: 8vh;
  }


  #logo {
    height: 65px;
  }
  
  #search-icon {
    height: 33px;
  }
  
  #imagebanner {
    height: 900px;
    width: 100%;
}

.item {
  padding: 20px;
  cursor: pointer;
  color: #ff2147;
}

.item:nth-child(3):hover{
  background:none;
  border: none;
}

.item:hover{
  color: black;
  border-bottom: 2px solid crimson;
}


  /* The slideshow */

  .slides {
    width: 100%;
    height: 100vh;
    opacity:0;
    transition: opacity 2s;
  }
  

/* DROP DOWN STYLES */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  /* width: 200px; */
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color:#ff2147;
}



/* SEARCH BAR STYLES */

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding: 20px;
}

.input-search {
  border-style: none;
  padding: 10px;
  font-size: 17px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 15px;
  transition: all .5s ease-in-out;
  background-color: white;
  color: #ff2147;
  box-shadow: 0px 2px 3px ;
}

.input-search::placeholder {
  color: #ff2147;
  font-size: 15px;
  font-weight: 100;
}

.btn-search {
  width: 20px;
  height: 20px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: black;
  background: none; 
  pointer-events: painted;
}



/* SUB-DIV SECTION */

.sub-div {
    margin: 30px;
}


#popup {
  position: absolute;
  top: 146%;
  left: 50%;
  transform: translate(-50%,-50%); 
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px;
  display: none;
  overflow-y: scroll;
  height: 450px;
  width: 35vw;

}

#popup {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

#closeBtn {
  position: absolute;
  height: 30px;
  top: 120%;
  left: 64%;
  z-index: 100;
  display: none;
  cursor: pointer;
}

#popup-heading{
  text-align: center;
  text-decoration: underline;
}





/* RANDOMISE MEALS SECTION */

#foodoftheday{
  border-bottom: 3px solid black;
  /* padding: 10px; */
}

.random{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: black 0.3s ease;
}

#randomizedDiv{
  margin-top: 40px;
  width: 390px;
  border: 1px solid black;
  cursor: pointer;

}

#randomizedDiv:hover{
  box-shadow: 0 3px 10px rgb(0 0 0 / 10);
  color: #ff2147;
}

.randomized-image{
    height: 380px;
    width: 100%;
    /* border: 1px solid black; */
}

.randomized-meal-name{
  padding: 10px;
  /* width: 25px; */
  text-align: center;
  /* border: 1px solid black; */
}


#ul {
  padding: 20px;
  /* border: 1px solid black; */
  overflow: hidden;
}






/* SEARCH RESULTS SECTION */

#search-results{
    margin: 30px;
}

#changesearchcolor {
  color: #ff2147;
}

#search-results{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid black;
    /* padding: 10px; */
    margin-top: 30px;
    
}



.recipe-img{
    height: 350px;
    width: 100%;
    /* border-radius: 15px; */
    
}

.recipe-name{
    margin: 10px;
    /* border: 1px solid red; */
    width: 100%;
    font-size: 23px;
    text-align: center;
}


#allRecipes{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    padding: 40px;
}



.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: black 0.3s ease;
    border: 1px solid black;
}

.recipes:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 10);
    color: #ff2147;
}








/* Media query */

@media (max-width: 768px) {
  body{
    padding: 30px;
  }
  .slides{
    height: 38vh;
  }

  .sub-div {
    margin: 10px;
  }
  .random {
    padding: 0;
  }
  #popup {
    top: 94%;
    left: 50%;
    height: 55vh;
    width: 90vw;
  }
   
  #closeBtn{
    position: absolute;
    top:67%;
    left: 84%;
  }

  .flex-box {
      flex-direction: column;
  }

  .flex {
      width: 100%;
  }

  .search-box {
      width: 100%;
  }

  #allRecipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items:center ; */
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
  }

  .recipes{
    margin: 6px;
  }

  .input-search {
      width: 100%;
  }

  .btn-search {
      position: relative;
      margin-top: 10px;
      right: auto;
  }
  .menu {
    display: none;
}

.search-box {
    margin-left: auto; /* Move the search box to the right */
}

#searcheditem{
  font-size: 1.7rem;
}

h1 {
  padding: 30px;
}

.flex-box {
    flex-direction: column;
    text-align: center;
}

  
}
